<div class="card shadow-sm" style="max-width: 300px;">
    <div class="card-header bg-dark text-white text-center fw-bold">
        Admin Menu
    </div>

    <div class="card-body d-flex flex-column gap-2">
        <a asp-area="admin"
           asp-controller="slider"
           asp-action="index"
           class="btn btn-outline-primary d-flex align-items-center gap-2">
            <i class="bi bi-images"></i>
            Sliders
        </a>

        <a asp-area="admin"
           asp-controller="category"
           asp-action="index"
           class="btn btn-outline-success d-flex align-items-center gap-2">
            <i class="bi bi-tags"></i>
            Categories
        </a>

        <a asp-area="admin"
           asp-controller="product"
           asp-action="index"
           class="btn btn-outline-secondary d-flex align-items-center gap-2">
            <i class="bi bi-tags"></i>
            Products
        </a>
    </div>
</div>
