@model CategoryUpdateVM


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">

            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">Create Category</h5>
                </div>

                <div class="card-body">
                    <form asp-area="admin"
                          asp-controller="category"
                          asp-action="edit"
                          method="post">

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control">
                        </div>

                        <div class="d-flex justify-content-end gap-2">
                            <a asp-area="admin"
                               asp-controller="category"
                               asp-action="index"
                               class="btn btn-outline-secondary">
                                Cancel
                            </a>

                            <button type="submit" class="btn btn-primary">
                                Create
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
